/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --shadow-color:#ff0070;
  --accent-color: #ff0070;
  --title-text-color: #ff0070;
  --main-color: #000028;
  --text-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --font-family: "IBM Plex Mono";
  --background-image: url(/images/cover-image-dark.png);
  .header__rec{
    display: block;
  }
  .header__theme-menu-button:hover{
    outline: 1px solid rgba(255, 0, 112, 0.4);
  }
  .header__theme-menu-button_active{
    outline: 1px solid var(--title-text-color);
    pointer-events: none;
  }
}

@media (prefers-color-scheme: dark){
  :root{
  --shadow-color:#ff0070;
  --accent-color: #ff0070;
  --title-text-color: #ff0070;
  --main-color: #000028;
  --text-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --font-family: "IBM Plex Mono";
}
  .header__rec{
      display: block;
  }
  .header__theme-menu-button:hover{
    outline: 1px solid rgba(255, 0, 112, 0.4);
  }
  .header__theme-menu-button_active{
    outline: 1px solid var(--title-text-color);
    pointer-events: none;
  }
}

