/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page{
  background-color: var(--main-color);
  background-attachment: fixed;
  min-width: 375px;
  max-width: 1440px;
  font-family: var(--font-family), sans-serif;
  background-attachment: fixed;
  margin: 0 auto;
  background-image: var(--background-image) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.special-text{
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 1px 1px  var(--accent-color);
}

.header{
  background-image: var(--background-image);
  position: relative;
  display: grid;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0 10px ;
}

.header__rec{
  content: "";
  position: absolute;
  color: var(--accent-color);  
  line-height: 25px;   
  font-size: 18px;
  top: 10px;
  right: 35px;
}

.header__rec::after{
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 13px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px; 
  top: 10px;
  left: 40px;
}

.border::after{
  content: "";
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.border::before{
  content: "";
  position: absolute;
  display: block;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu{
  margin-block-start: 0px;
  justify-self: end;
  align-items: end;
  margin-block-start: 60px;
}

.header__theme-menu-button{
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: transparent;
  color: var(--border-color);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 100%;
  text-align: center;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover{
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible{
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title{
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 4px 4px 0  var(--accent-color);
  margin: 50px 0 53px;
}

.header__text{
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  margin-block-end: 75px;
  margin-block-start: 0;
}

@media (width >= 768px){
  .header{
    padding: 0px 20px 0 0;
  }
  .header__theme-menu-list{
    margin-block-start: 130px;
  }
  .header__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__text{
    align-self: center;
    justify-self: end;
    margin-left: 384px;
  }
  .border::after{
    content: "";
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
  }
  .border::before{
    content: "";
    position: absolute;
    display: block;
    left: 20px;
    bottom: 20px;
  }
  .header__rec{  
    top: 20px;
    right: 45px;
  }
  
}

@media(width >= 1024px){
  .header__theme-menu-list{
    display: flex;
    flex-direction: row;
  }
  .header__theme-menu{
    justify-self: center;
    margin-block-start: 0;
    align-self: start;
  }
  .header__theme-menu-list{
    margin-block-start: 18px;
    padding-left: 19px;
  }
  .header__text{
    margin-left: 51%;
  }
}

.main{
  padding: 0 10px;
}

.title-decor{
  background-color: var(--accent-color);
}

.section-first{
  margin-block-start: 40px;
}

.section__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--second-title-color);
  margin: 0;
  margin-block-start: 20px;
}

.paragraph-title{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--second-title-color);
  margin-block-start: 0;
  margin-block-end: 0;
}

.paragraph-title{
  margin-block-start: 20px;
}

.content__text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.content-list{
  list-style: none;
  padding: 0px;
  margin: 0;
}

.content__title{
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin-block-start: 0;
  margin-block-end: 0px;
}

.content__text-block{
  margin-block-start: 50px;
  margin-block-end: 0px;
}

.content__concentration-fish{
  margin-block-start: 50px;
  margin-block-end: 20px;
}

.special-text:hover{
  outline: none;
  border-bottom: 1px solid var(--text-color);
  
}

.special-text:focus-visible{
  outline: none;
  border: 1px solid var(--text-color);
}

.content__image{
  margin-block-start: 50px;
}

.images-section{
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

@media (width >= 768px){
  .content__image{
    padding: 0px;
  }
  .images-section{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .image:first-of-type{
    grid-column: span 2;
  }
  .image:nth-of-type(2){
    grid-row: span 2;
  }
  .image:nth-of-type(3){
    grid-row: span 2;
  }
  .image:last-of-type{
    grid-column: span 2;
  }
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer{
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-block-start: 40px;
}

.footer__title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .main{
    padding: 0 20px 0;
    display: grid;
  }
  .section-first{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 32% 65%;
    gap: 21px;
  }
  .section__title{
    margin-block-start: 0;
  }
  .section__item:not(:first-of-type){
    margin-block-start: 20px;
  }
  .content__item{
    margin-block-start: 20px;
  }
  .content__text-block{
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: 23% ;
  }
  .content__concentration{
    grid-column: span 2;
  }
  .content-list{
    height: min-content;
    gap: 20px;
  }
  .content__text{
    margin-block-end: 0;
  }
  .content__concentration-fish{
    margin-block-start: 60px;
  }
  .paragraph-title{
    margin-block-start: 20px;
  }
  .footer__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .content__image{
    margin-block-start: 60px;
  }
  .images-section{
    margin-block-start: 20px;
  }
  .footer{
    margin-block-start: 60px;
  }
}

@media (width >= 1024px){
  .section-first{
    grid-template-columns: 32% 66%;
  }
  .content__text-block{
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 9% 1fr;
  }
  .content__concentration{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-block-start: 20px;
  }
  .content__concentration-fish{
    margin-block-start: 60px;
  }
  .content__item{
    margin-block-start: 0px;
  }
  .content__image{
    margin-block-start: 60px;
  }
  .images-section{
    margin-block-start: 20px;
  }
  .footer{
    margin-block-start: 60px;
  }
}